html {
    background: url(../images/hiking-main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Libre Franklin', sans-serif;
}

#title {
    margin-top: 10rem;
}

#navBar {
    background-color: rgba(62, 73, 61, .8);
    position: fixed;
    top: 0;
}

.container {
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 54px);
}

#modal1 {
    width: 400px;
    text-align: center;
}

#search2 {
    text-align: center;
    width: 215px;
    margin-right: 5px;
}

#search-section {
    border-radius: 15px;
    margin: 0;
    padding: 5px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 236, 228, 0.8);;
    border-radius: 10px;
}

.image {
    border-radius: 10px;
    width: 350px;
    height: 300px;
}

iframe {
    height: 535px;
    width: 350px;
    overflow: hidden;
    background: transparent;
}

h1 {
    font-family: fantasy;
    color: #555;
}

h3 {
    color: rgb(58, 61, 58) !important;
    margin-bottom: 50px !important;
}

h5 {
    font-family: fantasy;
    color: grey;
}

p {
    margin: 0px;
}

#button {
   background-color: rgb(73, 87, 77);
}

.favBtn {
    margin: 10px;
    display: inline;
}

#gen {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    color: rgb(155, 155, 155);
    background-color: rgba(62, 73, 61, .8);
    padding: 18px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}

.trails {
    height: 560px;
}

#trail-show {
    border-radius: 10px;
    margin-top: 65px;
    margin-bottom: 0px;
    padding-top:25px;
    text-align: center;
    color: rgb(73, 87, 77);
    background-color: rgb(236, 236, 228, 0.8);
    border-radius: 10px;
}

/* Media query for mobile responsive */
@media screen and (max-width: 992px) {
    #trail-show {
        width: 370px;
    }
    #footer {
        position: relative;
    }
}